{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">Contact Us</h2>

        <!--tema member-->
        <div class="mt-4">
            <h4>Team Members</h4>
            <ul class="list-group">
                <li class="list-group-item">Abhishek Agarwal (S24CSEU0204)</li>
                <li class="list-group-item">Rhik Mandal (S24CSEU0320)</li>
                <li class="list-group-item">Yakshit Sahu (S24CSEU0243)</li>
                <li class="list-group-item">Maitreyi (S24CSEU0217)</li>
                <li class="list-group-item">Mishika Daver (S24CSEU0319)</li>
            </ul>
        </div>

        <!--feedback form-->
        <div class="mt-4">
            <h4>Feedback</h4>
            <p>If you have any feedback, feel free to reach out to us by filling out the feedback form!</p>
            <!--link of form-->
            <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=9NpbLPKP2Uu9VHxQqyGVkBdC76TmoX5PtY0G-lJELBBUQ1VKT0IwVzY1N0JDQ0lNVkEwR1YxVVpWOS4u" target="_blank" class="btn btn-primary">Go to Feedback Form</a>
        </div>
    </div>
{% endblock %}
